<div class="page" fxLayout="column" fxFlexFill fxLayoutGap="20px">
  <div class="page-header">
    <mat-toolbar color="primary">

      <mat-toolbar-row *ngIf=" loggedInUser">
        <span class="example-spacer"></span>
        Welcome {{loggedInUser.username}}
      </mat-toolbar-row>


      <mat-toolbar-row>
        <H1>PLM'S Stock Wizard</H1>
        <span class="example-spacer"></span>

        <div>
          <button mat-button routerLink="/valuation">Valuation</button>

        </div>
        <div>
          <button mat-button routerLink="/mantra">Mantra's</button>

        </div>
        <div>
          <button mat-button routerLink="/login">Login </button>
          <button mat-button routerLink="/register">Register </button>
        </div>
        <div>
          <button mat-button (click)="logout()">Log Out</button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <!--fxFlex grow shrink basis-->
  <div class="page-content" fxFlex="1 0 auto">

    <div class="router-content" >

      <router-outlet></router-outlet>
    </div>
    <div>
      <!--<mat-progress-spinner class="example-margin"
                            [color]="primary"
                            [mode]="indeterminate"
                            [value]="50">
      </mat-progress-spinner>-->
    </div>

  </div>
  <!--<div class="page-content" fxLayoutAlign="center">
    <mat-card>
      <mat-card-title>
        Investing Mantra :

      </mat-card-title>
      <mat-card-content>
        <mat-list>
          <H1 matSubheader>Long Term Prospect</H1>
          <mat-list-item> Industry future </mat-list-item>
          <mat-list-item> Strong Moat </mat-list-item>
          <mat-list-item> Reap & Sow </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>
        <mat-list>
          <H1 matSubheader>Management</H1>
          <mat-list-item> Read Management report 10k ,Leader by words </mat-list-item>
          <mat-list-item> Less Acquistion and options </mat-list-item>
          <mat-list-item> 5-10% R&D spending </mat-list-item>
        </mat-list>


      <mat-divider> </mat-divider>
      <mat-list>
        <H1 matSubheader>Strong Financial Health</H1>
        <mat-list-item> Net  Operating/Free Cashflow consistent growth </mat-list-item>
        <mat-list-item> Shareholder equity growth </mat-list-item>
        <mat-list-item> Debt to Equity less than .5 </mat-list-item>
        <mat-list-item> Current ratio greater than 1 </mat-list-item>
        <mat-list-item> Price to Sales ratio less than 1 preferrable </mat-list-item>
      </mat-list>

      </mat-card-content>
    </mat-card>

  </div>-->


  <div fxFlexShrink="0" class="footer">
    <p class="copyright">©Copyright @ 2019 - PLM</p>

  </div>


</div>
